
/* Color palette */
$primaryColor:#5da552;
$secundaryColor:#333;
$neutralColor:white;

/* Font Familys */
$fontSans:'Open Sans', sans-serif;
$fontRoboto:'Roboto Mono', monospace;

/* Font Weights */
$fontSemibold:600;
$fontRegular:400;
$textUppercase:uppercase;


html, body {height: 100%;}
* {box-sizing:border-box;}


body {
    font-family: $fontSans;
    margin: 0;
    color: $secundaryColor;
    background: $neutralColor;
    text-align: center;

    
    h2 {
        font-weight: $fontSemibold;
        font-size: 1.4em; 
        line-height: 1.3;
    }
    h3 {
        font-weight: $fontRegular;
        font-size: 1.2em;
        width: 75%;
        margin: 1.5em auto 3em; /* center fixed width */
        line-height: 1.5;
    }
    p {
        font-weight: $fontRegular;
        text-align: left;
        font-size: 1em; 
        margin: 2em 0;
        line-height: 1.5;
    }
    

    header {
        .header__heroimage {
            padding: 2em 0;
            background-color: $primaryColor; /* For browsers that do not support gradients */
            background: linear-gradient(120deg, rgba(51,51,51,1) 50%, rgba(93,165,82,1) 50%);
            height: auto;
            transition: all .4s ease-in;

            h1 {
                font-weight: $fontRegular;
                font-size: 1.8em; 
                text-transform: $textUppercase;
                color: $neutralColor;
                margin: .4em 0 1.5em;
            }

            /* Slideshow container */
            .header__slide {
                max-width: 1000px;
                position: relative;
                margin: auto;


                /* Escondo las imagenes */
                .header__product {
                    display: none;

                    img {
                        width: 100%;
                        vertical-align: middle; /*para que los elementos con posición absoluta coincidan al pixel*/
                    }
                    .header__price {
                        position: absolute;
                        top: 0;
                        left: 0;
                        background: #222;
                        padding: 10px 40px;
                        font-family: $fontSemibold;
                        font-size: .6em;
                        text-transform: $textUppercase;
                        letter-spacing: 2px;
                        cursor: pointer;
                        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                        transition: all .4s ease;
                        &:hover {
                            background: $primaryColor;
                        }
                        a {
                            text-decoration: none;
                            color: $neutralColor;
                        }
                    }
                    .header__detail {
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        padding: 10px 20px;
                        font-family: $fontSemibold;
                        font-size: .6em;
                        text-transform: $textUppercase;
                        letter-spacing: 1px;
                        cursor: pointer;
                        color: $secundaryColor;
                        transition: all .4s ease;
                        overflow: hidden;
                        p {
                            display: none;
                            margin: 1.5em 2em;
                            font-weight: $fontRegular;
                            font-size: .8em;
                            color: $neutralColor;
                            line-height: 1.5;
                            text-transform: none;
                        }
                        &:hover {
                            background: $secundaryColor;
                            left: 0;
                            top: 0;
                            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                            a {
                                color: $neutralColor;
                            }
                            p {
                                display: block;
                            }
                        }
                        a {
                            text-decoration: none;
                            color: $secundaryColor;
                            transition: all .4s ease;
                        }
                    }
                    .header__color{
                        position: absolute;
                        bottom: 15%;
                        left: 20px;
                        display: flex;
                        flex-flow: column wrap;

                        span.dot {
                            cursor: pointer;
                            height: 12px;
                            width: 12px;
                            margin: 0 0 8px;
                            background-color: $secundaryColor;
                            border-radius: 50%;
                            transition: all .4s ease;
                            &:hover {
                                background-color: grey;
                            }
                        }
                        span.dot--secondary {
                            @extend span.dot;
                            background-color: $primaryColor;
                        }
                    }
                }
                
  
            }

            nav {
                margin: 2em 0;
                transition: all .4s ease;
                ul {
                    list-style-type: none;
                    padding: 0;
                    margin: 0;
                    /*overflow: hidden;*/
                    li {
                        /*background: $secundaryColor;*/
                        display: inline-block;
                        margin: 3em 0 0 0;
                    }
                    .slide__btn {
                        display: block;
                        text-decoration: none;
                        cursor: pointer;
                        color: $neutralColor;
                        font-size: .8em; /*16px*/
                        font-weight: $fontSemibold;
                        text-transform: $textUppercase;
                        letter-spacing: 2px;
                        padding: 10px 30px;
                        border: solid 2px transparent;
                        transition: border 0.5s ease;
                        position: relative;
                    }
                    .active, .slide__btn:hover {
                        border: solid 2px $neutralColor;
                        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                        text-shadow:  1px 1px 4px black;
                        &::before {
                            content: "/";
                            font-size: 3rem;
                            font-family: $fontRoboto;
                            font-weight: 100;
                            font-style: italic;
                            position: absolute;
                            left: 53%;
                            top: -47px;

                        }
                        &::after {
                            content: "/";
                            font-size: 3rem;
                            font-family: $fontRoboto;
                            font-weight: 100;
                            font-style: italic;
                            position: absolute;
                            left: 35%;
                            bottom: -40px;
                        }
                    }
                }
            }

        }/*cierra heroimage*/
        
    }/*cierra header*/


    main {
        padding: .5em 2em;
        article {
            img {
                width: 100%;
            }
        }
    }

    footer {
        padding: 2em 2em 1.5em 0;
        background-color: $primaryColor; /* For browsers that do not support gradients */
        background: linear-gradient(120deg, rgba(93,165,82,1) 50%, rgba(51,51,51,1) 50%);
        transition: all .4s ease-in;
        text-align: right;
    }
    
    // Medium devices (tablets, 768px and up)
    @media only screen and (min-width: 768px) {
        h2 {font-size: 3em; /*48px*/}
        h3 {font-size:1.6em;/*26px*/}
        p {font-size:1.5em;/*24px*/}
        header {
            .header__heroimage {
                padding-top: 5em;
                h1 {
                    margin-bottom: 1.5em;
                    font-size: 3.17em; /*51px*/
                }
                .header__slide {
                    .header__product {
                        .header__price {
                            padding: 15px 50px;
                            font-size: 0.8em;
                        }
                        .header__detail {
                            padding: 15px 30px;
                            font-size: 0.8em;
                            p {
                                font-size: 1.2em;
                            }
                        }
                        .header__color {
                            span.dot {
                                width: 18px;
                                height: 18px;
                                margin: 0 0 12px;
                            }
                        }
                    }
                }
            }
        }
        main {
            padding: 2em 5em;
        }
    }
    /* Print Settings */
    @media Print {
        font: 12pt Georgia, "Times New Roman", Times, serif;
        line-height: 1.3;
        header {
            .header__heroimage {
                display: none;
                h1 {
                    font-size: 24pt;
                }
                .header__slide {
                    .header__product {
                        img {max-width: 500px;}
                    }
                }
                nav {
                    display: none;
                }
            }
        }
        main {
            article {
                img {max-width: 500px;}
                h2 {
                    font-size: 16pt;
                }
                h3 {
                    font-size: 14pt;
                }
                p {
                    font-size: 12pt;
                }
            }
        }
        footer {
            display: none;
        }
    }
}
/* Fade in slide images */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
    animation-name: fade;
    animation-duration: 1s;
}
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}


